@use "/src/assets/scss/not-found";
.repositories {
  display: flex;
  flex-direction: column;
  .github-detail {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 10px;
    max-width: 400px;
    cursor: pointer;
    border-radius: 5px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .github-detail:hover{
    background: rgb(227, 227, 227);
  }
  .repository-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: flex-start;
    .repository-detail {
      margin-top: 10px;
      min-height: 60px;
      background: rgb(239, 239, 239);
      margin-bottom: 10px;
      padding: 10px;
      width: 400px;
      max-width: 400px;
      border-radius: 5px;
      a {
        text-decoration: none;
        color: unset;
      }
      p {
        font-size: 0.8rem;
        color: rgb(80, 80, 80);
      }
      .detail {
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0 10px;
        .stargazer {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            width: 25px;
            height: 25px;
            margin-right: 5px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

.paginator {
  display: flex;
  gap: 0 10px;
  margin-top: 20px;
  button {
    width: 100px;
    height: 30px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .github-detail {
    padding: 0px !important;
  }
}