<div class="main-container">
  <div class="repositories" [class.d-none]="repositoriesLoading">
    <p
      *ngIf="githubProfile$ | async as githubProfile"
      class="clickable link"
      [routerLink]="['/' + githubProfile.login]"
      routerLinkActive="router-link-active"
    >
      {{ githubProfile.login }}
    </p>
    <h2>Repositories</h2>
    <ng-container *ngIf="githubRepositories$ | async as githubRepositories">
      <div class="repository-list">
        <div
          class="repository-detail"
          *ngFor="let githubRepository of githubRepositories"
        >
          <a [href]="githubRepository.html_url" target="_blank" rel="noopener noreferrer">
            <h4>{{ githubRepository.name }}</h4>
            <p>{{ githubRepository?.description }}</p>
            <div class="detail">
              <span class="stargazer"
                ><img [src]="startIcon" />
                <p>{{ githubRepository.stargazers_count }}</p>
              </span>
              <span>{{ githubRepository.language }}</span>
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="paginator" [class.d-none]="repositoriesLoading">
    <button (click)="previousPage()">Previous</button>
    <button (click)="nextPage()">Next</button>
  </div>
  <div class="loader" *ngIf="repositoriesLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
