<div class="main-container">
  <div class="repositories">
    <p
      *ngIf="githubProfile$ | async as githubProfile"
      class="clickable link"
      [routerLink]="['/' + githubProfile.login]"
      routerLinkActive="router-link-active"
    >
      {{ githubProfile.login }}
    </p>
    <h2>Repositories</h2>
    <ng-container *ngIf="githubRepositories$ | async as githubRepositories">
      <div class="repository-list">
        <div
          class="repository-detail"
          *ngFor="let githubRepository of githubRepositories"
        >
          <h4>{{ githubRepository.name }}</h4>
          <p>{{githubRepository?.description}}</p>
          <div class="detail">
            <span class="stargazer"
              ><img [src]="startIcon" />
              <p>{{ githubRepository.stargazers_count }}</p>
            </span>
            <span>{{ githubRepository.language }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="paginator">
    <button>Previous</button>  <button>Next</button>
  </div>
  <div class="loader" *ngIf="repositoriesLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
