/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block !important;
  // -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p {
  margin: 0 !important;
}

.clickable {
  cursor: pointer;
}
.link {
  color: blue;
  max-width: fit-content;
}
.link:hover {
  text-decoration: underline;
  opacity: 0.7;
}
.main-container {
  margin: 20px;
  padding: 10px;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.d-none {
  display: none !important;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
