<div class="main-container">
  <h1>Github Insights</h1>
  <h4>Bridging Your Projects with GitHub API</h4>
  <p class="description">{{ projectDescription }}</p>
  <div class="search-container">
    <form (submit)="searchProfile()" class="search-form">
      <div class="search-input">
        <label for="search">Enter github profile</label>
        <input tabindex="0" [formControl]="searchControl" id="search" placeholder="mizan3050" />
      </div>
      <button (click)="searchProfile()">Search profile</button>
    </form>
  </div>
</div>
