.main-container {
  .description{
    margin-top: 10px !important;
    max-width: 400px;
    color: rgb(80, 80, 80);
  }
  h1 {
    font-size: 2rem;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    .search-input{
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      input {
        height: 30px;
        width: 300px;
        border: 2px solid rgb(94, 94, 94);
        border-radius: 4px;
        padding: 4px;
      }
      ::placeholder {
        color: rgb(204, 204, 204);
        opacity: 1; /* Firefox */
        padding: 0 4px;
      }
    }
    button {
      margin-top: 15px;
      height: 35px;
      color: white;
      background: rgb(0, 120, 184);
      border: none;
      border-radius: 4px;
      width: 120px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .description{
    max-width: 300px;
  }
}

