.main-container {
  .description{
    margin-top: 10px !important;
    max-width: 400px;
    color: rgb(80, 80, 80);
  }
  h1 {
    font-size: 2rem;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    input {
      height: 30px;
      width: 300px;
      margin-top: 15px;
      border: 2px solid rgb(94, 94, 94);
      border-radius: 4px;
    }
    button {
      margin-top: 10px;
      height: 30px;
      color: white;
      background: rgb(0, 120, 184);
      border: none;
      border-radius: 4px;
      width: 100px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .description{
    max-width: 300px;
  }
}

